---
layout: layouts/base.njk
---

<article>
  <section>
    <h2>Introduction.</h2>
    <p>My name is William.</p>
    <p>Among other <a href="https://williamwhitaker.art">things</a>, I'm a front-end developer.</p>
    <aside>
      <h3>Some competencies:</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>PHP</li>
      </ul>
    </aside>
  </section>
  <section>
    <h2>Thoughtables.</h2>
    {{ content | safe }}
  </section>
  <section>
    <aside>
      <h2>A call to action!</h2>
      <p>Got a project you'd like help with?</p>
      <p>Let's <a href="mailto:{{ metadata.author.email }}">talk</a>!</p>
    </aside>
  </section>
</article>
